certifi==2022.12.7 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==2.1.1 ; python_version >= "3.10" and python_version < "3.12"
contourpy==1.0.6 ; python_version >= "3.10" and python_version < "3.12"
cycler==0.11.0 ; python_version >= "3.10" and python_version < "3.12"
et-xmlfile==1.1.0 ; python_version >= "3.10" and python_version < "3.12"
fonttools==4.38.0 ; python_version >= "3.10" and python_version < "3.12"
idna==3.4 ; python_version >= "3.10" and python_version < "3.12"
joblib==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
kiwisolver==1.4.4 ; python_version >= "3.10" and python_version < "3.12"
lazy-loader==0.1rc2 ; python_version >= "3.10" and python_version < "3.12"
littleutils==0.2.2 ; python_version >= "3.10" and python_version < "3.12"
matplotlib==3.6.2 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.23.5 ; python_version < "3.12" and python_version >= "3.10"
openpyxl==3.0.10 ; python_version >= "3.10" and python_version < "3.12"
outdated==0.2.2 ; python_version >= "3.10" and python_version < "3.12"
packaging==22.0 ; python_version >= "3.10" and python_version < "3.12"
pandas-flavor==0.3.0 ; python_version >= "3.10" and python_version < "3.12"
pandas==1.5.2 ; python_version >= "3.10" and python_version < "3.12"
patsy==0.5.3 ; python_version >= "3.10" and python_version < "3.12"
pillow==9.3.0 ; python_version >= "3.10" and python_version < "3.12"
pingouin==0.5.2 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.12"
pytz==2022.6 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "3.12"
requests==2.28.1 ; python_version >= "3.10" and python_version < "3.12"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.10"
ruamel-yaml==0.17.21 ; python_version >= "3.10" and python_version < "3.12"
scikit-learn==1.0.2 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.9.3 ; python_version >= "3.10" and python_version < "3.12"
seaborn==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
setuptools-scm==7.0.5 ; python_version >= "3.10" and python_version < "3.12"
setuptools==65.6.3 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
statsmodels==0.13.5 ; python_version >= "3.10" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "3.12"
threadpoolctl==3.1.0 ; python_version >= "3.10" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.4.0 ; python_version >= "3.10" and python_version < "3.12"
urllib3==1.26.13 ; python_version >= "3.10" and python_version < "3.12"
xarray==2022.12.0 ; python_version >= "3.10" and python_version < "3.12"
